<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NewBusBook"
        tools:targetApi="31">
        <activity android:name=".PaymentThankyou" />
        <activity android:name=".SeatSelection" />
        <activity android:name=".DeleteBus" />
        <activity android:name=".UpdateBus" />
        <activity android:name=".AdminLogin" />
        <activity android:name=".AdminSignup" />
        <activity android:name=".AdminPanel" />
        <activity android:name=".AddBus" />
        <activity android:name=".Receipt" />
        <activity android:name=".Booking" />
        <activity android:name=".Signup" />
        <activity android:name=".Login" />
        <activity android:name=".ViewListContents"/>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>